<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <p class="display-1">Top 10 Players </p>
                <p class="font-italic font-weight light">
                    Here are the best players on this plattform listed. 
                </p>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card tile>
                    <v-data-table
                        :headers="headers"
                        :items="users"
                        :items-per-page="10"
                        class="elevation-1">
                    </v-data-table>
                </v-card>
            </v-col>
        </v-row>
    </v-container >
</template>

<script>
     import {RepositoryFactory} from "./../../repositories/RepositoryFactory";
     const ScoreRepository = RepositoryFactory.get('users');


    export default {
        name: "Top10",
        data: () => ({
            headers:[
                {
                    text: 'Username' , 
                    align:'left',
                    sortable:false,
                    value: 'name',
                },
                 { 
                     text: 'Points in Total',
                      value: 'points' },
            ],
            users:[],
        }),

        created() {
            this.fetchData();
        },

        methods: {
            fetchData() {
                ScoreRepository.get()
                .then(response => {
                        if (response.status === 200) {
                        this.users = response.data;
                        } else {
                            throw Error("Failed loading users.");
                        }
                    })
                    .catch(() => {
                        this.showSnackbar("Failed loading users.");
                    });

            },

            showSnackbar(text) {
                this.snackbarText = text;
                this.snackbar = true;
            },
    }
 }
</script>

<style>
    .v-list-item__action--stack {
        flex-direction: row;
    }
</style>