<template>
    <div>
        <h1>Demo component</h1>
        <p>Der Wert ist {{value}}</p>
        <p>Der dopplete Wert ist {{value*2}}</p>
        <v-slider v-model="value" 
        min="20"
         max="80" 
         step="5" 
         @change="checkValue"></v-slider>
         <p class="warning"
             v-if="value > 70">
             Achtung der Wert ist über 70
         </p>
    </div>
</template>

<script>
    export default{
        name:"demo.vue",
        data: ()=> ({
            value: 50
        }),
        methods:{
            checkValue(wert){
                if(this.value >70){
                    alert('Achtung der Wert ist grösser als 70');
                }
            }
        }
    }
</script>

<style>
    h1{
        color: red;
    }
</style>